<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>controller.SessionCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/home/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sell</servlet-name>
        <servlet-class>controller.Sell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Purchases</servlet-name>
        <servlet-class>controller.Purchases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>controller.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/home/Buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sell</servlet-name>
        <url-pattern>/home/Sell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchases</servlet-name>
        <url-pattern>/home/Purchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/home/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
