<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>controller.SessionCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/home/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Rent</servlet-name>
        <servlet-class>controller.Rent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lent</servlet-name>
        <servlet-class>controller.Lent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rentals</servlet-name>
        <servlet-class>controller.Rentals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>controller.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Garage</servlet-name>
        <servlet-class>controller.Garage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LentEdit</servlet-name>
        <servlet-class>controller.LentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEdit</servlet-name>
        <servlet-class>controller.ProfileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalsReview</servlet-name>
        <servlet-class>controller.RentalsReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/home/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rent</servlet-name>
        <url-pattern>/home/Rent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lent</servlet-name>
        <url-pattern>/home/Lent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rentals</servlet-name>
        <url-pattern>/home/Rentals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Garage</servlet-name>
        <url-pattern>/home/Garage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LentEdit</servlet-name>
        <url-pattern>/home/Lent/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEdit</servlet-name>
        <url-pattern>/home/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalsReview</servlet-name>
        <url-pattern>/home/Rentals/Review</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
